<div class="partners card img-card text-white">
    <img src="../../assets/about.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h2 class="title">Below are Our Corporate Partners</h2>
      <button type="button" class="btn btn-dark">Become a Sponsor</button>
      <div class="content partners-table">
          <div class="row" style="overflow-x:auto;">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Company</th>
                  <th scope="col">Trademark</th>
                  <th scope="col">Sponsorship</th>
                  <th scope="col">Go to Trademark</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">Microsoft</th>
                  <td scope="col"><img src="../../assets/microsoft.png"></td>
                  <td scope="col">Platinum</td>
                  <td scope="col"><a href="https://www.microsoft.com/en-ph/">View Website</a></td>
                </tr>
                <tr>
                    <th scope="col">Apple, Inc.</th>
                    <td scope="col"><img src="../../assets/apple.png"></td>
                    <td scope="col">Gold</td>
                    <td scope="col"><a href="https://www.apple.com/">View Website</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Amazon</th>
                    <td scope="col"><img src="../../assets/amazon.png"></td>
                    <td scope="col">Silver</td>
                    <td scope="col"><a href="https://www.amazon.com/">View Website</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Google, Inc.</th>
                    <td scope="col"><img src="../../assets/google.png"></td>
                    <td scope="col">Bronze</td>
                    <td scope="col"><a href="https://www.google.com/">View Website</a></td>
                  </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
</div>



