<div class="centerism">
    
    <h1 class="p-3 mb-2 bg-primary text-white" style="text-align: center;">About Us</h1>
    <h4> 
        RM Clothing is a brand and business family that allows people all over the world to express themselves through fashion and design while also choosing a more sustainable lifestyle. 
        By providing our customer offering and evolving with a focus on sustainable and profitable growth, we generate value for individuals and society in general.
    </h4>
    <h4>
        <br>
        Mr. Miguel Tiamzon formed this company on January 20, 2022 and started its business in Mabalacat, Pampanga, Philippines. This company strives to offer only the best quality
        at an affordable price and is focused in helping and serving the publics needs. 
    </h4>


</div>