.title{
    color:black;
    text-align: center;
}
.content p{
    color: black;
}
.forms{
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 30%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.content{
    position: relative;
    text-align: center;
}
.form-control{
    text-align: center;
}
.join{
    margin-top: 50px;
    padding-bottom: 70px;
}