<div class="card img-card bg-dark text-white">
    <img src="../../assets/bghome.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h2 class="title">Research Conferences</h2>
      <p class="text">Join Our Research Conferences Around the World!</p>
      <button type="button" class="btn btn-outline-light">Early Bird Registration</button>
      <h1 class="title2">Join our online events this 2021</h1>
      <div class="content">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card">
                <img src="../../assets/france.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">France</h5>
                  <p class="card-text">The largest country in Western Europe, has long been a gateway between the continent's northern and southern regions. <br><br> Architecture and Fine Arts <br><br> Cultural Events <br><br> Safety and Security</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../assets/seoul.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Seoul</h5>
                  <p class="card-text">Seoul, the capital of South Korea, is a huge metropolis where modern skyscrapers, high-tech subways and pop culture meet Buddhist temples, palaces and street markets. <br><br> Humanities and Arts <br><br> Cultural Events <br><br> Safety and Security</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../assets/sanfrancisco.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">San Francisco</h5>
                  <p class="card-text">It is a cultural and financial centre of the western United States and one of the most cosmopolitan cities <br><br> Science and Technology <br><br> Cultural Events <br><br> Safety and Security</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../assets/boston.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Boston</h5>
                  <p class="card-text">Best known for it's famous baked beans, Fenway Park, The Boston Marathon, and of course for the bar from Cheers. <br><br> Engineering and Tech <br><br> Cultural Events <br><br> Safety and Security</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>



